@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body.dark {
    @apply bg-gray-900 text-white;
  }

  .dark:root {
    color-scheme: dark;
  }
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  /* width: auto; */
}
.masonry-grid-column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  width: 100%;
}

/* Style your items */
.masonry-grid-column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
