@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body.dark {
    @apply bg-gray-900 text-white;
  }

  .dark:root {
    color-scheme: dark;
  }
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  /* width: auto; */
}
.masonry-grid-column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  width: 100%;
}

/* Style your items */
.masonry-grid-column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.react-select__control,
.react-select__option,
.react-select__menu {
  @apply dark:bg-gray-800;
}
.react-select__option--is-focused {
  @apply dark:bg-secondary-900;
}

.react-select__option {
  @apply active:dark:bg-secondary-800;
}

.react-select__single-value,
.react-select__option,
.react-select__input-container {
  @apply dark:text-white;
}
